<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body background="../static/img/fundo.png">
    <header>
        <div id="logo"><img src="../static/img/logo.png" alt=""></div>
        <div id="links">dasdasdas</div>
    </header>
    <div id="capa"><img src="../static/img/capa.png" alt="capa"></div> 
</body>
</html>